{% comment %}
    renderizando a primeira palavra e a segunda

    accepts:
    - word: {string} the first word
    - second_word: {string} the second word

    usage:
    {% render 'my-snippet', { word: word_variaves, second_word: second_variable } %}
{% endcomment %}


<p>snippet aqui</p>